form ul li {
    margin: 0 0 8px 0;
    background: white;
    border: #666666;
    padding: 6px;
    -webkit-border-radius: 8px;
}

form ul li label {
    font-size: 0.7em;
    padding: 0 0 0 10px;
}

div.dialog h3 {
    color: #333333;
    font-size: 0.9em;
    padding: 0 0 0 10px;
}

:input {
    border: 0px;
}

/* action bar styles */

ul.actionbar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #2E2E2E), color-stop(0.5, #151515), color-stop(0.5, #000000), color-stop(1.0, #000000));
    height: 49px;
}