html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#mapContainer {
    height: 60%;
    overflow: hidden;
}

#testControls {
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 200;
}

.jasmine_reporter {
    overflow-y: scroll;
    height: 40%;
}