body {
    margin: 0px;
}

/* device display mockups */

div#device {
}

div.iphone {
    width: 386px;
    height: 742px;
    padding: 151px 33px 130px 33px;
    background: url(../img/iphone-layout.png) no-repeat;
}