html, body, #mapContainer {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*
.t5-view {
    background: url(../img/map-bg.png);
}
*/

.t5-copyright {
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    padding: 4px 0 4px 8px;
    font: 0.7em Arial;
}

.t5-copyright a {
    color: #555;
}

.guidat {
    opacity: 0.75;
}