html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #333;
}

#mapContainer {
    float: left;
    width: 480px;
    height: 100%;
}

#editorFrame {
    position: absolute;
    left: 481px;
    height: 100%;
    width: 480px;
}

#editorTools {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #c8c8c8;
}

#editorTools li {
    padding: 4px;
}

#editor {
    width: 100%;
}

/*
.t5-view {
    background: url(../img/map-bg.png);
}
*/

.t5-copyright {
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    padding: 4px 0 4px 8px;
    font: 0.7em Arial;
}

.t5-copyright a {
    color: #555;
}

.guidat {
    opacity: 0.75;
    position: absolute;
    left: 10px;
    z-index: 1001;
}

@media screen and (max-width: 640px) {
    #mapContainer {
        float: none;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}