html, body, #mapContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#toolbar {
    padding: 15px 10px;
    overflow: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
}

#demoSelector {
    float: right;
}