html, body, #mapContainer {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font: 0.9em Arial;
}

a {
    color: #e8e8e8;
}

#controlPanel {
    width: 36%;
    padding: 2%;
    float: left;
}

#controlPanel label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
}

#mapContainer {
    background: #777;
    width: 60%;
    float: left;
}

ul#tests {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#tests li a {
    -webkit-border-radius: 4px;
    background: #333;
    color: white;
    display: block;
    padding: 6px;
}