form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form ul li {
}

form ul li label {
    display: block;
}

form ul li input, form ul li select, form ul li textarea {
}

div#dialog-container {
    z-index: 1100;
}

div.dialog {
    padding: 8px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFFFFF), color-stop(0.3, #DDDDDD), color-stop(1.0, #CCCCCC));
}

div.dialog h3 {
    margin: 0 0 6px 0;
}