#map-container {
	position : absolute;
    top : 45px;
    left : 0px;
    }


div#jqt #about {
        padding: 10px;
        text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
        font-size: 13px;
        text-align: center;
    }

div#jqt #about p {
            margin-bottom: 8px;
      }